body {
  font-size: 16px;
  color: #fff;
  background-color: darkcyan;
}

/** HEADER **/
#header-nav {
  background-color: rgb(178, 233, 233);
  border-radius: 0;
  border: 0;
}
.navbar-brand h1 {
  color: #951C49;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 5px;
  margin-bottom: 3px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #1f838a;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

.container h1{
  text-align: center;
}

.item{
  border: 1px solid black;
  margin: 1em auto 1em;
  background-color: lightcyan;
}
.item p{
  margin: 1em;
  color: black;
}
.item h2{
  text-align: center;
  color: black;
}





